/* Fuentes */
@font-face {
    font-family: "monocraft";
    src: url("../assets/fonts/MONOCRAFT.TTC");
}

/* Variables globales */
:root {
    --font-primary: "monocraft";
    --color-background: #bfa6a1;
    --color-text: #DDD;
    --color-shadow: #3c211b;
    --button-bg: url("../assets/img/bgbtn.webp");
    --padding-standard: 1.2rem;
    --text-shadow: 2px 2px #000;
}

/* Reset y estilos generales */
* {
    font-family: var(--font-primary) !important;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    text-rendering: geometricPrecision;
}

html, body {
    margin: 0;
}

body {
    background-image: url("https://minecraft.wiki/images/BlockSprite_dark-oak-planks.png?8e924");
    background-repeat: repeat;
    background-size: 10%;
    image-rendering: pixelated;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    margin: 2%;
}

/* Tipografía y sombra de texto */
h1, h2, button {
    font-weight: normal;
    text-align: center;
}

/* Elementos principales */

.desk-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 4px 16px var(--color-shadow));
}

/* Contenedores */
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 32vw;
    aspect-ratio: 140 / 180;
    background-image: url("../assets/img/bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain    ;
    image-rendering: pixelated;
    filter: drop-shadow(0 4px 12px);
    padding: 32px;
}
.container *{
    text-shadow: #f4e0d4 0px 2px 0px;
}


/* Texto en contenedores */
.container h1 {
    font-size: 1.44vw;
}

#pomo-timer h2 {
    font-size: 1.44vw;
    padding: 4px;
}

#pomo-btn-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Botones */
button {
    flex: 1;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
    width: 4.8vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    font-size: 1.42vw;
    background-image: var(--button-bg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 64px;
    box-sizing: border- box;
}
button img{
    filter: invert(1) drop-shadow(0px 2px 0px #f4e0d4);
}


u, ul li {
    text-shadow: none !important;
}

ul li {
    list-style: square;
}
span{
    margin-top: 48px;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
}
/* Responsive */

@media (max-width: 800px) {
    body {
        flex-direction: column;
    }

    iframe {
        height: 340px !important;
    }
}

@media (max-width: 680px) {
    .container {
        width: 75vw;
    }

    .container h1 {
        font-size: 3.5vw;
    }

    #timer h2 {
        font-size: 4.5vw !important;
    }

    button {
        font-size: 6vw;
        width: 12vw;
    }
}

@media (max-width: 478px){
    .container{
        width: 90vw !important;
    }
    .container h1{
        font-size: 6.2vw;
    }
    #pomo-timer h2{
        font-size: 6.4vw !important;
    }

    button {
        padding: 0.8rem; /* Ajusta para dispositivos móviles */
        font-size: 0.875rem;
        width: 14vw;
        font-size: 6vw;
    }
}

