@font-face {
    font-family: "monocraft";
    src: url("../assets/fonts/MONOCRAFT.TTC");
}
:root {
    --font-primary: "monocraft";
    --color-background: #bfa6a1;
    --color-text: #DDD;
    --color-shadow: #3c211b;
    --button-bg: url("../assets/img/bgbtn.webp");
    --padding-standard: 1.2rem;
    --text-shadow: 2px 2px #000;
}
*{
    font-family: "monocraft" !important;
    -webkit-tap-highlight-color: transparent;
}
html{
    height: 100%;
}

body {
    font-family: var(--font-primary);
    background-color: var(--color-background);
    margin: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100%; /* Asegura que siempre ocupe toda la pantalla */
    box-sizing: border-box;
    background-image: url("https://minecraft.wiki/images/BlockSprite_dark-oak-planks.png?8e924");
    background-repeat: repeat;
    background-size: 10%;
    image-rendering: pixelated;
    box-sizing: content-box;
}

h1, h2, button {
    font-weight: normal;
    text-align: center;
}

/* Main styling */
#pomo-book{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* height: 100%; */
    filter: drop-shadow(0 4px 16px var(--color-shadow));
}
.pomo-page {
    
    background-image: url("../assets/img/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
    /* height: 32vw; */
    width: 32vw;
    aspect-ratio: 140 / 180; /* Mantén la relación de aspecto */
    box-sizing: content-box;
    filter: drop-shadow(0 4px 12px);

} 
.pomo.container{
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: 100%;
}
#page-2{
    justify-content: calc(32vh) !important;
    display: none;
}
.nxt-page{
    background-image: url("../assets/img/nxt-page.png");
    flex: 0;
}
.pomo.container h1{
    font-size: 1.44vw;
}
#pomo-timer h2{
    font-size: 1.44vw;
    padding: 4px;
}

#pomo-buttons-container{
    display: flex;
    flex-direction: row;
    
}
/* Button styling */
button{
    flex: 1;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
    width: 5vw;
    cursor: pointer;
    display: inline-block;
    aspect-ratio: 1/1;
    text-align: center;
    
    box-sizing: border-box;
    background-image: var(--button-bg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.42vw;
    
}
.pomo.container *{
    text-shadow: #f4e0d4 0px 2px 0px;
}
/* Responsive adjustments */

@media (max-width: 1100px) {
    body{
        flex-direction: column;
    }
    .pomo-page{
        width: 50vw;
    }
    .pomo.container h1{
        font-size: 2.5vw;
    }
    
    #pomo-timer h2{
        font-size: 3vw !important;
    }

    button {
        padding: 0.8rem; /* Ajusta para dispositivos móviles */
        font-size: 2rem;
        width: 7vw;
    }
}

@media (max-width: 800px){
    .pomo-page{
        width: 75vw;
    }
    .pomo.container h1{
        font-size: 3.5vw;
    }
    #pomo-timer h2{
        font-size: 4.5vw !important;
    }

    button {
        padding: 0.8rem; /* Ajusta para dispositivos móviles */
        font-size: 0.875rem;
        width: 12vw;
        font-size: 6vw;
    }
}
@media (max-width: 600px){
    .pomo-page{
        width: 90vw !important;
    }
    .pomo.container h1{
        font-size: 6.2vw;
    }
    #pomo-timer h2{
        font-size: 6.4vw !important;
    }

    button {
        padding: 0.8rem; /* Ajusta para dispositivos móviles */
        font-size: 0.875rem;
        width: 14vw;
        font-size: 6vw;
    }
}